<!DOCTYPE html>
<html>

<head>
    <title>Protected Page</title>
    <style>
       body {
       background-color : <%= color %>;
       }
    </style>
</head>
<body>
    <h1>Welcome, <%= nick %> ! </h1>
    <p>This is a protected page.</p>
    <a href="/logout">Logout</a>
</body>

</html>